* {
    margin: 0;
}

body {
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1rem 0.7rem 1rem;
    background-color: #cb94ff2e;
    transition: height 0.3s ease;
}

header h1 {
    font-family: "Montserrat extralight", Arial, sans-serif;
}

label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#burger {
    display: none;
}

nav {
    display: none;
}

#burger:checked+label+nav {
    display: block;
}

label:hover {
    transform: scale(1.2);
}

a {
    font-family: "Montserrat Regular", Arial, sans-serif;
    font-size: 11pt;
    margin: 10px;
    text-align: center;
}

#title {
    font-family: "Montserrat Simebold", Arial, sans-serif;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #5b5287;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: start;
    width: 100%;
    background-color: white;
}

.dog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

img {
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-content h2 {
    font-family: "Montserrat Light", Arial, sans-serif;
    font-size: 1.5rem;
    margin: 10px 0px 15px 20px;
    padding-top: 5px;
    color: #333;
    border-top: 5px solid #d5a9ff;
}

p {
    font-family: "Verdana", Arial, sans-serif;
    font-size: 0.9rem;
    color: #333;
    background-color: white;
    padding: 0 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 2000px) {
    header h1 {
        font-size: 2.5rem;
    }

    label {
        font-size: 36pt;
    }

    nav {
        display: none;
        margin-top: 1rem;
    }

    nav a {
        text-decoration: none;
        color: #333;
        padding: 0.5rem 1rem;
        display: inline;
    }

    #burger:checked+label+nav {
        display: flex;
        gap: 1rem;
        flex-direction: row;
    }

    nav a:hover {
        background-color: #debbff;
    }
}

@media (max-width: 768px) {
    header h1{
        font-size: 2rem;
    }

    label {
        font-size: 24pt;
        padding-top: 10px;
    }

    section {
        grid-template-columns: 1fr;
    }

    img {
        width: 50%;
    }

    #burger:checked+label+nav {
        display: flex;
        gap: 1rem;
    }

    nav a {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8rem;
    }

    label {
        font-size: 24pt;
    }

    section {
        grid-template-columns: 1fr;
    }

    img {
        width: 100%;
    }

    #burger:checked+label+nav {
        display: flex;
        gap: 1rem;
    }

    nav a {
        font-size: 0.8rem;
    }
}