/*///////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////// header
///////////////////////////////////////////////////////////////////////*/
@media (max-width: 2000px) {
    header {
        display: flex;
        /*flex-wrap: wrap;*/
        flex-direction: column;
    }

    label {
        position: relative;
        font-size: 50px;
        bottom: 90px;
    }

    h1 {
        font-size: 45px;
        letter-spacing: 0.1em;
    }
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    label {
        position: relative;
        font-size: 30px;
        bottom: 60px;
    }

    h1 {
        font-size: 30px;
        letter-spacing: 0.1em;
    }
}

@media (max-width: 480px) {
    header {
        display: flex;
    }

    label {
        position: relative;
        font-size: 30px;
        bottom: 45px;
    }

    h1 {
        font-size: 20px;
        letter-spacing: 0.1em;
    }
}

h1 {
    position: relative;
    text-align: center;
    align-content: center;
    font-family: "Montserrat Simebold", Arial, sans-serif;
}

label {
    display: inline-block;
    padding-left: 10px;
    color: cornflowerblue;
}

#burger {
    display: none;
}

nav {
    display: none;
}

#burger:checked+label+nav {
    display: block;
}

a {
    display: block;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: "Montserrat Regular", Arial, sans-serif;
    font-size: 12pt;
    color: black;
    border: 1px solid grey;
    margin: 10px;
    width: 120px;
    margin-left: 30px;
}


/*///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////// main
///////////////////////////////////////////////////////////////////////*/
/*FONTES:
font-family: "Montserrat Bold", Arial, sans-serif;
font-family: "Georgia Condensed", Arial, sans-serif;*/

.text-content h2 {
    margin-top: 0;
    margin-bottom: 0;
}

section {
    display: flex;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}

section:nth-of-type(1)>.text-content,
section:nth-of-type(3)>.text-content,
section:nth-of-type(5)>.text-content {
    margin-left: 0;
}

@media (max-width: 2000px) {

    section:nth-of-type(2),
    section:nth-of-type(4) {
        flex-direction: row-reverse;
    }

    figure {
        margin: 0;
        padding: 0;
    }

    .dog-container img {
        width: 50vw;
        height: auto;
    }

    section:nth-of-type(1)>.text-content,
    section:nth-of-type(3)>.text-content,
    section:nth-of-type(5)>.text-content {
        padding-left: 50px;
    }

    .text-content h2 {
        font-family: "Georgia Condensed", Arial, sans-serif;
        font-size: 30pt;
    }

    .text-content p {
        font-family: "Verdana Condensed", Arial, sans-serif;
        font-size: 14pt;
    }
}

@media (max-width: 768px) {

    section:nth-of-type(2),
    section:nth-of-type(4) {
        flex-direction: row-reverse;
    }

    .dog-container img {
        width: 50vw;
        height: auto;
    }

    section:nth-of-type(1)>.text-content,
    section:nth-of-type(3)>.text-content,
    section:nth-of-type(5)>.text-content {
        padding-left: 50px;
    }

    .text-content h2 {
        font-size: 24pt;
    }
}

@media (max-width: 480px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
        text-align: center;
    }

    section:nth-of-type(2),
    section:nth-of-type(4) {
        flex-direction: column;
    }

    .dog-container,
    .text-content {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .dog-container img {
        width: auto;
        height: 50vh;
        margin: 0 auto;
        padding-top: 20px;
    }

    section:nth-of-type(1) .dog-container img {
        padding-top: 0;
    }

    section:nth-of-type(1)>.text-content,
    section:nth-of-type(3)>.text-content,
    section:nth-of-type(5)>.text-content {
        padding-left: 0;
    }

    .text-content h2 {
        position: relative;
        font-size: 24pt;
        top: 20px;
        text-align: center;
    }
}