/*///////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////// header
///////////////////////////////////////////////////////////////////////*/
* {
    margin: 0;
}

@media (max-width: 2000px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 1rem 2rem 1rem;
        /*padding-bottom: 2rem;*/
        background-color: #cb94ff2e;
        transition: height 0.3s ease;
    }

    header h1 {
        font-size: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #burger {
        opacity: 0;
        position: absolute;
    }

    label {
        font-size: 45pt;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    label:hover {
        transform: scale(1.2);
    }

    nav {
        display: none;
        margin-top: 1rem;
    }

    nav a {
        text-decoration: none;
        color: #333;
        padding: 0.5rem 1rem;
        display: inline;
    }

    #burger:checked+label+nav {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        padding-top: 10px;
    }

    nav a:hover {
        background-color: #debbff;
    }
}


@media (max-width: 768px) {
    header {
        display: flex;
        height: 185px;
    }

    header h1 {
        font-size: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    label {
        position: relative;
        font-size: 45px;
    }
}

@media (max-width: 480px) {
    header {
        display: flex;
        height: 150px;
    }

    header h1 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    label {
        font-size: 30px;
    }
}

h1 {
    position: relative;
    text-align: center;
    align-content: center;
    font-family: "Montserrat Simebold", Arial, sans-serif;
    letter-spacing: 0.1em;
}

label {
    display: inline-block;
    width: 6%;
}

#burger {
    display: none;
}

nav {
    display: none;
}

#burger:checked+label+nav {
    display: block;
}

a {
    font-family: "Montserrat Regular", Arial, sans-serif;
    font-size: 11pt;
    border: 1px solid grey;
    margin: 10px;
    text-align: center;
}


/*///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////// main
///////////////////////////////////////////////////////////////////////*/
/*FONTES:
font-family: "Montserrat Bold", Arial, sans-serif;
font-family: "Georgia Condensed", Arial, sans-serif;*/

.text-content h2 {
    margin-top: 0;
    margin-bottom: 0;
}

section {
    display: flex;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}

section:nth-of-type(1)>.text-content,
section:nth-of-type(3)>.text-content,
section:nth-of-type(5)>.text-content {
    margin-left: 0;
}

@media (max-width: 2000px) {

    section:nth-of-type(2),
    section:nth-of-type(4) {
        flex-direction: row-reverse;
    }

    figure {
        margin: 0;
        padding: 0;
    }

    .dog-container img {
        width: 50vw;
        height: auto;
    }

    section:nth-of-type(1)>.text-content,
    section:nth-of-type(3)>.text-content,
    section:nth-of-type(5)>.text-content {
        padding-left: 50px;
        padding-right: 50px;
    }

    section:nth-of-type(2)>.text-content,
    section:nth-of-type(4)>.text-content {
        padding-left: 5px;
        padding-right: 50px;
    }

    .text-content h2 {
        font-family: "Georgia Condensed", Arial, sans-serif;
        font-size: 30pt;
    }

    .text-content p {
        font-family: "Verdana Condensed", Arial, sans-serif;
        font-size: 12pt;
        line-height: 18pt;
        text-align: justify;
    }
}

@media (max-width: 768px) {

    section:nth-of-type(2),
    section:nth-of-type(4) {
        flex-direction: row-reverse;
    }

    .dog-container img {
        width: 50vw;
        height: auto;
    }

    section:nth-of-type(1)>.text-content,
    section:nth-of-type(3)>.text-content,
    section:nth-of-type(5)>.text-content {
        padding-left: 30px;
        padding-right: 30px;
    }

    section:nth-of-type(2)>.text-content,
    section:nth-of-type(4)>.text-content {
        padding-left: 5px;
        padding-right: 50px;
    }

    .text-content h2 {
        font-size: 24pt;
    }

    .text-content p {
        font-family: "Verdana Condensed", Arial, sans-serif;
        font-size: 11pt;
        line-height: 16pt;
        text-align: justify;

    }
}

@media (max-width: 480px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
        text-align: center;
        padding-top: 30px;
    }

    section:nth-of-type(2),
    section:nth-of-type(4) {
        flex-direction: column;
    }

    .dog-container,
    .text-content {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .dog-container img {
        width: 50vw;
        height: auto;
        margin: 0 auto;
        border: 5px solid #d5a9ff;
    }

    section:nth-of-type(1)>.text-content,
    section:nth-of-type(3)>.text-content,
    section:nth-of-type(5)>.text-content {
        padding-left: 0;
    }

    .text-content h2 {
        position: relative;
        font-size: 24pt;
        top: 20px;
        text-align: center;
        border-bottom: 5px solid #d5a9ff;
    }

    .text-content p {
        font-family: "Verdana Condensed", Arial, sans-serif;
        font-size: 11pt;
        line-height: 16pt;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        margin: 0;
    }
}